h1{
    text-align: center;
    font-size: 60px;
    padding-top:40px;
    padding-bottom: 40px;
}
.img{
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
}
/*.buy{
    
}*/

p{
    padding-bottom: 20px;

}